[submodule "material-color-utilities-rs"]
	path = material-color-utilities-rs
	url = https://github.com/alphaqu/material-color-utilities-rs
[submodule "MaterialColorUtilities"]
	path = MaterialColorUtilities
	url = https://github.com/albi005/MaterialColorUtilities
